p {
  /*text-indent: 2em; /* Recuo de 2 vezes o tamanho da fonte */
  margin-bottom: 1em; /* Espaçamento entre parágrafos (opcional) */
}

.page-footer {
  text-align: center;
  font-size: 0.9em;
  color: #666;
}